@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap');

body {
    box-sizing: border-box;
    height: 10000px;
}

ul {
    list-style-type: none;
}

caption {
    background-color: crimson;
}

th {
    background-color: darkblue;
}

td { 
    background-color: darkgreen;
}

table {
    background-color: black;
    box-shadow: 20px 20px 10px black;
    margin: 0 auto;
}

.nav_elements {
    display: inline-block;
}

.font-1 {
    font-family: 'Oswald', sans-serif;
}

.font-2 {
    font-family: 'Zilla Slab Highlight', cursive;

}

.font-3{
    font-family: 'Train One', cursive;
}